// Partial for the Index page

.index-body {



  .image-container, #main-image {
    width: 100%;
  }

  .buttons {
    float: right;
    padding-right: 95px;
    padding-top: 50px;


    .buttons-panel {
      padding-left: 5px;
      padding-bottom: 5px;

      text-align: center;

      background-color: darkseagreen;

      border: 5px solid black;
      border-radius: 15px;


      .voting-button {
        padding: 8px;
        margin: 0 8px;
      }
      button {
        display: inline-block;
        position: relative;
        top: 0;
        font-size: 30px;
        border-radius: 360px;
        background: white;

        -webkit-transition: all .15s ease;
        -moz-transition: all .15s ease;
        -ms-transition: all .15s ease;
        transition: all .15s ease;
      }

    }
  }

  .image-details {
    width: 100%;
  }


  button:hover {
    top: -10px;

    -webkit-transform: rotateX(20deg);
    -moz-transform: rotateX(20deg);
    -ms-transform: rotateX(20deg);
    transform: rotateX(20deg);
    cursor: pointer;
  }

  button:active {
    top: 0px;
    background: darkgray;
    outline: none;
  }

}
