// Partial for the Nav Bar

.navbar {
  background-color: darkseagreen;
  border: 5px solid black;
  border-radius: 15px;

  .navbar-list {
    align-items: center;
    list-style: none;


    .navbar-item{



      a {
        text-decoration: none;
      }
    }

  }


}
