// Import partials
@import 'index';
@import 'navbar';
@import 'top-rated';

// Global styling



.page-title{

  float: left;
  padding-left: 20px;


  position: absolute;

  .title{
    background-color: black;
    color: white;
    allign: centre;
    font-size: 30px;
    padding: 10px;
    border: 5px;
    border-radius: 15px;
  }

}

.wrapper{
  float: left;
  padding-top: 85px;

}



.details-panel{
  background-color: honeydew;

  border: 5px solid black;
  border-radius: 40px;
  padding: 15px;
}


body {


  background-color: lightsalmon;
  font-family: Georgia, SansSerif;
}

.main-content {

  max-width: 800px;
  margin: 0 auto;

}

.image-panel {
  background-color: darkseagreen;
  padding: 20px;
  border: 5px solid black;
  border-radius: 40px;
}