// Import partials
@import 'index';
@import 'navbar';
@import 'top-rated';

// Global styling



.page-title{

  float: left;
  padding-left: 20px;


  position: absolute;

  .title{
    background-color: black;
    color: white;
    allign: centre;
    font-size: 30px;
    padding: 10px;
    border: 5px;
    border-radius: 15px;
  }

}

.wrapper{
  float: left;
  padding-top: 85px;

}

.details-panel {
   display: none;

   background-color: honeydew;

   border: 5px solid black;
   border-radius: 40px;
   padding: 15px;

 }



body {


  background-color: lightsalmon;
  font-family: Georgia, SansSerif;
}

.main-content {

  max-width: 800px;
  margin: 0 auto;

  .image-panel {
    background-color: darkseagreen;
    padding: 20px;
    border: 5px solid black;
    border-radius: 40px;

    button {
      background-color: honeydew;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 25px;
      border: 2px solid black;
      border-radius: 15px;

      outline: none;
    }


  }
}


button:hover {
  top: -10px;

  -webkit-transform: rotateX(20deg);
  -moz-transform: rotateX(20deg);
  -ms-transform: rotateX(20deg);
  transform: rotateX(20deg);
  cursor: pointer;
}