// Import partials
@import 'index';
@import 'navbar';
@import 'top-rated';

// Global styling



.page-title{
  float: left;
  padding-left: 20px;
  padding-right: 20px;

  position: absolute;

  .title{
    allign: centre;
    font-size: 30px;
  }
}

.wrapper{
  float: left;
  padding-top: 75px;
  padding-left: 5px;
}



body {

  background-color: lightsalmon;
  font-family: Georgia, SansSerif;
}

.main-content {

  max-width: 800px;
  margin: 0 auto;

}

.image-panel {
  background-color: darkseagreen;
  padding: 20px;
  border: 5px solid black;
  border-radius: 40px;
}